.tit{
    text-align: center;
    color: navy;
    margin-top: 1em;
    font-family:serif;
    font-style: bold;
    margin-bottom: 2%;
}
.fT{
    text-align: center;
}
#fL{
    text-align: center;
    color:black;
    padding: 5px;
    background-color: lightgrey;
    border-style: outset;
    border-radius: 15px;
    border-color:dimgray;
}
#fL:hover{
    background-color: dimgray;
    color: white;
    border-style: inset;
}
.nF{
margin-bottom: 3%;
}